body {
	background-color: blue;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	margin: 16px;
	color: yellow;
	font-weight: bold;
}

.left {
	float: left;
	background-color: #1dff00;
	height: 600px;
}

img {
	margin: 40px 20px;
	height: 60%;
}

.right {
	float: right;
	background-color: #fc1bb9;
	height: 600px;
}

h4 {
	font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	margin: 20px;
}

p {
	font-family: 'VT323', monospace;
	font-size: 20px;
}